@import './components/container';
@import './components/sections';
@import './components/footer';
@import './components/modal-window';

@import './utils/valiable';
@import './utils/hidden';

@import './base/common';

@import './layouts/header';
@import './layouts/hero';
@import './layouts/particulars';
@import './layouts/what-doing';
@import './layouts/team';
@import './layouts/clients';
@import './layouts/foot-components';
@import './layouts/portfolio-btns';
@import './layouts/portfolio-cards';
