.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #2f303a;
    text-align: center;
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-bg.jpg);
    max-width: 1600px;
    max-height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
  }
  
  .hero__desicions {
    margin-left: auto;
    margin-right: auto;
  
    width: 696px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    color: #ffffff;
  }
  
  .hero__button {
    margin-top: 40px;
    padding-top: 30px;
  
    background: #2196f3;
    color: #ffffff;
    line-height: 1.9;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
  }